html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    position: fixed;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;

    flex-direction: column;

   -webkit-box-align: center; -moz-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.instructions {
    width: 100%;
    position: absolute;
    font-size: 4.5rem;
    padding: 1.0rem 0 1.5rem 0;
    bottom: 10%;
    text-align: center;
    font-family: 'Megrim', 'Source Sans Pro', Arial, sans;
    color: #000;
    text-shadow:
        -3px -3px 5px #DDD,
        3px -3px 5px #DDD,
        -3px 3px 5px #DDD,
        3px 3px 5px #DDD;
    background-color: #FFF;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../res/screens/start.png');
    background-size: cover;
}

.end {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../res/screens/end.png');
    background-size: cover;
}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100%;
    height: 100%;
}

#background-canvas canvas {
    width: 100%;
    height: 100%;
}